EMAIL_USER=xxxx@gmail.com
EMAIL_PASS=xxxx xxxx xxxx xxxx  # Create App Password at https://myaccount.google.com/apppasswords
BASE_URL = http://localhost:5000
FRONTEND_URL = http://localhost:5173
MONGODB_URI=mongodb://localhost:27017?authSource=admin
JWT_SECRET=your-secret-jwt-key
PORT=5000 